@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Add your global styles here */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.video-section {
  overflow: visible; /* Ensure zoom effect is not clipped */
}
